body{
    background-color: #121212;
    color: white;
}

// SCSS variables

$button-hover-background-color: white;
$button-hover-font-weight: bolder;
$button-hover-font-size: 1.25em;

// SCSS functions
@function darken-color($color, $amount){
    @return darken($color, $amount); 
    /* -- TAMSINIMO FUNKCIJA -- */
}


// SCSS mixin
@mixin button-styles($background-color: lightblue, $font-weight: normal, $font-size: 16px) {
    background-color: $background-color;
    font-weight: $font-weight;
    font-size: $font-size;
}

// nested selector
.button{
    &:hover {
        background-color: darken-color($button-hover-background-color, 30%);
        font-weight: $button-hover-font-weight;
        font-size: $button-hover-font-size;
    }
}

